h2{
    font-size: 28rem;
    line-height: 100%;
    margin-top: 2.5rem;
    color: var(--text-primary-clr);
    text-transform: capitalize;
}

.overlay-text{
    position: relative;
}

.overlay-text::before{
    content: attr(datatype);
    position: absolute;
    top: -70%;
    left: -60%;
    font-size: 6rem;
    color: var(--text-primary-clr);
    font-weight: bold;
    text-transform: uppercase;
    z-index: -1;
    opacity: .08;
}

.self-end{
    align-self: flex-end;
}

.card{
    padding: 1.5rem;
    background: var(--surface-clr);
    border: 0.1rem solid rgba(123,123,123,02);
    border-radius: 1rem;
    flex: 1;
}

.mt-5{
    margin-top: 5rem;
}

h4{
    font-size: 1.7rem;
    color: var(--text-primary-clr);
}

.service-icon{
    width: 4rem;
    aspect-ratio: 1;
    font-size: 1.8rem;
    color: var(--text-primary-clr);
    background: var(--background-clr);
    border: .1rem solid rgba(123,123,123,02);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100vw;
}













@media screen and (max-width: 790px){
    .overlay-text::before{
        font-size: 4rem;
        top: 30%;
        left: -30%;
    }

    h2{
        font-size: 2.4rem;
    }

    .p-block-9{
        padding-block: 5rem;
    }
}





