/* .middle{
    position: relative;
} */

.middle::before{
    left: 50%;
    transform: translateX(-50%);
}

.green-inverse{
    background: var(--accent-clr);
    color: var(--fix-clr);
    border: .1rem solid var(--accent-clr);
}

.p-bottom-1{
    padding-bottom: 1rem;

}