.navbar{
    min-height:14vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
    position:relative;
}

 .header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
background: #0b0b0b;   /* important so content not overlap visually*/
box-shadow: 0 8px 10px -2px rgba(235, 200, 200, 0.313);

} 






/* LOGO */

.logo{
    font-size:1.8rem;
    font-weight:bold;
    text-decoration:none;
}

.gradient-text {
  background: linear-gradient(to right, rgb(251,146,60), rgb(234,88,12));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



/* DESKTOP MENU */

.desktop-menu{
    display:flex;
    gap:2rem;
    list-style:none;
}

.desktop-menu a{
    text-decoration:none;
    color:white;
    font-weight:500;
    transition:.3s;
}

.desktop-menu a:hover{
    color:#FB9935;
}

/* ACTIONS */

.nav-actions{
    display:flex;
    align-items:center;
    gap:1rem;
}

/* BUTTON */

.talk-btn{
    background:linear-gradient(to right,#fb923c,#f97316);
    color:white;
    padding:.5rem 1rem;
    border-radius:30px;
    text-decoration:none;
    font-weight:bold;
}

/* ICON */

.icon-container{
    width:2.7rem;
    aspect-ratio:1;
    background:rgb(230,142,10);
    border-radius:50%;
    color:white;
    font-size:1.4rem;
    display:flex;
    justify-content:center;
    align-items:center;
    border:none;
    cursor:pointer;
}

/* HAMBURGER */

.hamburger{
    font-size:1.5rem;
    background:none;
    border:none;
    color:white;
    display:none;
}

/* MOBILE MENU */

.mobile-menu{
    position:absolute;
    top:100%;
    left:-100%;
    width:20rem;
    background:rgba(0,0,0,0.7);
    backdrop-filter:blur(5px);
    -webkit-backdrop-filter: blur(10px);
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:1.5rem;
    padding:2rem;
    border-radius:1rem;
    transition:.5s;
}

.mobile-menu a{
    color:white;
    text-decoration:none;
}

/* ACTIVE MOBILE MENU */

.mobile-menu-active{
    left:50%;
    transform:translateX(-50%);
}

/* RESPONSIVE */

@media (max-width:790px){

    .desktop-menu{
        display:none;
    }

    .hamburger{
        display:block;
    }

      .btn {
    display: none;
  }
}













/* 
.navbar{
    min-height:14vh;
}

.logo{
    font-size: 1.8rem;
    color:var(--text-primary-clr);
    font-weight: bold;
}


logo span{
    display: inline-block;
    background: var(--accent-clr);
    color: var(--fix-clr);
    width: 3.8rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    text-align: center;
    margin-right: .4rem;
} 

 .link{
    font-size: .95rem;
    color: var(--text-secondary-clr);
    transition: .3s ease-in-out;
}

.link:hover{
    color: var(--accent-clr);
} 

.gap-2{
    gap: 2rem;
} 

.btn{
     display: inline-block; 
    padding: .7rem 1.5rem; */
    /* background: var(--accent-clr); */
    /* color: var(--fix-clr);
    font-weight: bold;
    font-size: .9rem;
    border-radius: 100vw; */
    /* border: .1rem solid var(--accent-clr); 
    transition: .3s ease-in-out;
}

.btn:hover{
    background: transparent;
    color: var(--accent-clr);
}

.icon-container{
    width: 2.7rem;
    aspect-ratio: 1;
    background: rgb(230, 142, 10);
    border-radius: 100vw;
    color: white;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
}
.icon-container:hover.green-inverse{
    background: transparent;
    color: var(--accent-clr);
}
.border-inverse{
    border: .1rem solid rgba(123,123,123,0.2);
    color: var(--text-secondary-clr);
}

.hamburger{
    color: var(--text-primary-clr);
    font-size: 1.5rem;
    display: none;
}

.mobile-menu{
    display: none;
}


























@media screen and (max-width:790px){
    .desktop-menu,
    .nav-action .btn{
        display: none;
    }

    .hamburger{
        display: block;
    }

    .logo{
        font-size: 1.5rem;
    }

    .logo span{
        width: 2.5rem;
        margin-right: .2rem;
    }

    .mobile-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        position: absolute;
        top: 20%;
        left: -100%;
        transform: translateX(-50%);
        background: rgba(var(--surface-clr),0.3);
        /* backdrop-filter:blue(20px); 
        border: .3rem solid rgba(215, 45, 45, 0.2);
        width: 20rem;
        padding: 1.5rem;
        border-radius: 1rem;
        z-index: 99;
        transition: .5s ease-in-out;
    }

    .mobile-menu-active{
        left: 50%;
        transform: translateX(-50%);
    }
}  */