/* 
.profile{
    width:5rem;
    aspect-ratio:1;
    border-radius:50%;
    overflow:hidden;
}

.profile img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.rating-star{
    font-size:1.2rem;
    color:var(--accent-clr);
    margin-right:.3rem;
}

.slick-next::before,
.slick-prev::before{
    display:none;
}

.slick-dots li button::before{
    font-size:1.3rem;
    color:var(--text-secondary-clr);
}

.slick-dots li.slick-active button::before{
    color:var(--accent-clr);
}

.slick-dots{
    bottom:-80px;
}

.slick-slide{
  
  padding-inline: 20px;
  box-sizing: border-box;
} 

.slick-list{
    padding-inline:10;
}

.card {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}




/* 
@media screen and (max-width: 600px) {
  .slick-slide {
    padding-inline: 10px;
  }

  .card {
    width: 100%;         
  }
} 
 */






















 .profile{
    width: 5rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    overflow: hidden;
}

.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rating-star{
    font-size: 1.2rem;
    color: var(--accent-clr);
    margin-right: .3rem;
    display: flex;
}

.slick-next::before,
.slick-prev::before{
    display: none;
}

.slick-dots li button::before{
    font-size: 1.3rem;
    color:var(--text-secondary-clr);
}

.slick-dots li.slick-active button::before{
    color: var(--accent-clr);
}

.slick-dots{
    bottom: -80px;
}

.slick-slide{
    padding-inline:40px ;
}

.slick-list{
    padding-inline: -30px;
} 



.slick-slider {
  width: 100%;
}
/* 
.slick-list {
  overflow: hidden;
} */

/* .slick-slide > div {
  display: flex;
  justify-content: center;
} */


.slick-slide {
  padding: 0 10px;
}

.slick-list {
  margin: 0 -10px;
  padding: 0;
}

.card {
  width: 100%;
  max-width: 90%;
  margin: auto;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}


.card {
  width: 100%;
  max-width: 100%;
}




.wrapper {
  width: 100%;
  overflow: hidden;
}