/* .headline{
    background: var(--accent-clr);
    width:100%;
} 
 .moving-text{
    display: flex;
    padding-block: .8rem;
    white-space: nowrap;
    overflow: auto;
} 

 .moving-text::-webkit-scrollbar{
    display: none;
} 

 .container{
    /* display: inline-block; */
    /* display: flex; 
    animation: slide-left 12s linear infinite;
 }


 .container h5{
    color: var(--fix-clr);
    font-size: 1.9rem;
    display: inline-block;
    margin-right: 3rem;
    background-color: rgb(249, 6, 6);
 }

.container .star{
    font-size: 1.5rem;
    margin-right: 3rem;
} 

 @keyframes slide-left{
    100%{
        transform: translateX(-100%);
    }
}  


@media  screen and (max-width:790px) {
    .container{
        font-size: 1.5rem;
        margin-right: 2rem;
    }

    .container .start{
        font-size: 1.2rem;
        margin-right: 2rem;
    }
    
}  */

.headline {
  background: var(--accent-clr);
  width: 100%;
  overflow: hidden;
  z-index: 2;
}

.moving-text {
  display: flex;
  white-space: nowrap;
}

.container {
  display: flex;
  align-items: center;
  animation: slide-left 12s linear infinite;
}

.container h5 {
  color: var(--fix-clr);
  font-size: 1.9rem;
  margin-right: 3rem;
}

.star {
  font-size: 1.5rem;
  margin-right: 3rem;
}

@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

