@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";


*{
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

:root{
  --background-clr:#080808;
  --surface-clr:#141414;
  --text-primary-clr:white;
  --text-secondary-clr:#b1b1b1;
  --accent-clr:#7AFC0F;
  --fix-clr:#080808;
}

[data-theme = "light"]{
  --background-clr:#FFF;
  --surface-clr: #F5F5F5;
  --text-primary-clr:#080808;
  --text-secondary-clr:#B333;
}

body{
  background: var(--background-clr) ;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}
.flex{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.column{
  flex-direction: column;
}

.between{
  justify-content: space-between;
}

.center{
  justify-content: center;
}

.wrapper{
  max-width: 1400px;
  margin: auto;
  padding-inline: 2rem;
}

img{
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
}

.p-block-9{
  padding-block: 5rem;
}

.btn{
     display: inline-block; 
    padding: .7rem 1.5rem; 
    /* background: var(--accent-clr); */
background: linear-gradient(
    to right,
    rgb(251, 146, 60),
    /* rgb(241, 87, 4) */
     rgb(234, 88, 12)
  );
    color: var(--fix-clr);
    font-weight: bold;
    font-size: .9rem;
    border-radius: 100vw;
    border: .1rem solid var(--accent-clr); 
    transition: .3s ease-in-out;
}

.btn:hover{
    background: transparent;
    color: var(--accent-clr);
}
